<h1><%= pluralize(@services.size, 'Service') %></h1>

<ul>
	<% @services.each do | service | %>
	<li><%= link_to service.name, service_url(service) %>: <%= service.description %></li> 
	<% end %>
</ul>

<%= link_to "Create Service", new_service_url  %>
