<header>
	<h1><%= @service.name %></h1>

	<%= link_to "Edit", edit_service_path(@service) %> | 
	<%= link_to "Delete", service_path(@service), {method: :delete, data: {confirm: "Are you sure you want to delete #{@service.name}?"}} %> | 
	<%= link_to("All Services", services_path) %>
</header>