<header class="row">
  <h1><%= @user.name %></h1>
</header>
<section class="row">
  <p><%= mail_to @user.email %></p>
  <footer>
    <%= link_to 'Edit', edit_user_path(@user) %> | 
    <%= link_to 'All Users', users_path %>
  </footer>
</section>
