<header>
	<h1>Events</h1>
</header>
<section>
	<ul>
		<% @events.each do |event| %>
		<li><%= link_to event.name, event_path(event) %> (<%= event.time.strftime("%m/%d/%Y %I:%M %p") %>) </li>
		<% end %>
	</ul>
</section>
<%= link_to 'Create Event', new_event_url %>