<header>
	<h1>Create an Event</h1>
</header>

<section id="event-form" class="row">
	<div class="small-2 large-6 columns">
		<%= render 'shared/errors', object: @event %>
		<%= render 'form' %>
	</div>
</section>

<!-- <div id="form-campus"></div> -->