<header>
	<h1>Rooms</h1>
</header>
<section>
	<ul>
	<% @rooms.each do |r| %>
		<li><%= link_to r.name, room_path(r.id) %></li>
	<% end %>
	</ul>
</section>
<footer>
	<%= link_to "New Room", new_room_url %>
</footer>