<header class="row">
  <h1>Welcome</h1>
</header>
<section class="row">
  <div id="chart-ytd-attendance" class="small-12 medium-6 large-6 columns"></div>
  <div id="chart-yoy-attendance" class="small-12 medium-6 large-6 columns"></div>
</section>