<header>
	<h1><%= pluralize(@campuses.count, "Campus", "Campuses") %></h1>
</header>
<article>
	<ul>
		<% @campuses.each do | campus | %>
		<li><%= link_to campus.name, campus_path(campus) %>
			<ul>
			<% campus.rooms.each do |room| %>
				<li><%= link_to room.name, room_path(room) %></li>
			<% end %>
			</ul>
		</li>
		<% end %>
	</ul>
</article>
<footer>
	<%= link_to "Add Campus", new_campus_path %>
</footer>