//TODO: Load form into jQuery Modal with close/cancel box
$('body').append("<div id=\"form-campus\"><h1>Add a Campus</h1><%= escape_javascript(render(partial: 'form', locals: {send_remote: true})).html_safe %></div>").show();
