$(function() {
  var form_content = "<div id=\"form-campus\" class=\"row\"><%= escape_javascript(render(partial: 'form', locals: {send_remote: true})).html_safe %></div>";

  $('body').append(form_content).show();
  
  $('#form-campus').dialog({ 
  										title: "Add a Campus",
  										modal: true, 
  										minWidth: 500,  
  										dialogClass: "small-8 large-8 columns",
  										show: { effect: "drop" },
  										hide: { effect: "drop" }
  									});

});
